body{
    position: static;
    top: 1.5;
    bottom: 1.5;
    right: 2.5;
    left: 2.5;
}

h1{
    position: static;
    top: 1.5;
    bottom: 1.5;
    right: 2.5;
    left: 2.5;
}

h2{
    position: static;
    top: 1.5;
    bottom: 1.5;
    right: 2.5;
    left: 2.5;
}

h3{
    position: static;
    top: 1.5;
    bottom: 1.5;
    right: 2.5;
    left: 2.5;
}

h4{
    position: static;
    top: 1.5;
    bottom: 1.5;
    right: 2.5;
    left: 2.5;
}